@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(13, 9, 24);
    font-family: 'Merriweather', serif;
}
header {
    font-size: 30px;
    color: white;
    background-color:rgb(15, 22, 87);
    width: 100%;
    height: 140px;
}
.head {
    font-size: 55px;
    text-align: center;
    padding-top: 45px;
    cursor:context-menu;
}
.links {
    padding-top: 30px;
    font-size: 45px;
    width: 100%;
    color: rgb(98, 114, 7);
    text-align: center;
}
.links a {
    text-decoration: none;
    color: rgb(251, 255, 0);
    position: relative;
}

.links a + a {
    margin-left: 32px;
}
.links a.active {
    font-weight: bold;
    color:rgb(251, 255, 0);
}
.links a:hover {
    color: rgb(249, 253, 2);
}
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color:rgb(251, 255, 0);
    position: absolute;
    left: 0;
    bottom: -6px;
}
.links a:hover::after {
    width: 100%;
    transition: width 600ms ease-in-out;
}
.card {
    background-color: rgb(229, 226, 226);
    width: 900px;
    height: 500px;
    border-radius: 20px;
    margin: 45px auto;
    box-shadow: 5px 5px 20px black;
    display: grid;
    grid-template-columns: 1fr 1fr;

    /*=== animation=== */

    animation: up 700ms ease-in-out;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(30px)
    }
    100% {
        opacity: 1;
    }
}

