@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(13, 9, 24);
    font-family: 'Merriweather', serif;
}
header {
    font-size: 30px;
    color: white;
    background-color:rgb(15, 22, 87);
    width: 100%;
    height: 140px;
}
.head {
    font-size: 55px;
    text-align: center;
    padding-top: 45px;
    cursor:context-menu;
}
.links {
    padding-top: 30px;
    font-size: 45px;
    width: 100%;
    color: rgb(98, 114, 7);
    text-align: center;
}
.links a {
    text-decoration: none;
    color: rgb(251, 255, 0);
    position: relative;
}

.links a + a {
    margin-left: 32px;
}
.links a.active {
    font-weight: bold;
    color:rgb(251, 255, 0);
}
.links a:hover {
    color: rgb(249, 253, 2);
    transition: 200ms;
}
.links a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color:rgb(251, 255, 0);
    position: absolute;
    left: 0;
    bottom: -6px;
}

