@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(13, 9, 24);
    font-family: 'Merriweather', serif;
}
header {
    font-size: 30px;
    color: white;
    background-color:rgb(15, 22, 87);
    width: 100%;
    height: 140px;
}
.head {
    font-size: 55px;
    text-align: center;
    padding-top: 45px;
    cursor:context-menu;
}
.links {
    padding-top: 30px;
    font-size: 45px;
    width: 100%;
    color: rgb(98, 114, 7);
    text-align: center;
}
.links a {
    text-decoration: none;
    color: rgb(251, 255, 0);
    position: relative;
}

.links a + a {
    margin-left: 32px;
}
.links a.active {
    font-weight: bold;
    color:rgb(251, 255, 0);
}
.links a:hover {
    color: rgb(249, 253, 2);
}
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color:rgb(251, 255, 0);
    position: absolute;
    left: 0;
    bottom: -6px;
}
.links a:hover::after {
    width: 100%;
    transition: width 600ms ease-in-out;
}
.card {
    background-color: rgb(229, 226, 226);
    width: 900px;
    min-height: 500px;
    border-radius: 20px;
    margin: 45px auto;
    box-shadow: 5px 5px 20px black;
    display: grid;
    grid-template-columns: 1fr 1fr;

    /*=== animation=== */

    animation: up 500ms ease-in-out;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
    }
}

/* details */
.details {
    margin: 20px;
}
.details .item {
    padding: 30px 0;
    border-bottom: 1px solid  rgb(150, 147, 147);
}
.details .item:last-child {
    border: none;
}
.details h3,
.details .item div:nth-child(1) {
    color:rgb(126, 119, 119);
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;
    padding-bottom: 3px;
}
.details .item div:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
}
.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(37, 8, 199);
    font-size: 23px;
}
.details .item span {
    padding: 8px 16px;
    background-color:black;
    border-radius: 16px;
    color: rgb(117, 110, 110);
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 6px;
    margin-top: 8px;
}

/* buttons */

input {
   width: 100%;
   height: 36px;
   outline: none;
   font-size: 22px;
   font-weight: bold;
}

input[type="radio"] {
    width: initial;
    margin-right: 14px;
    height: 16px;
}

input::placeholder {
    font-size: 17px;
    font-weight: normal;
}

button[type="submit"] {
    width: 100%;
    padding: 8px 32px;
    background-color: rgb(15, 22, 87);
    font-size: 15px;
    color: white;
    border-radius: 6px;
    margin-top: 32px;
    font-size: 18px;
}