<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% block head %}

    <title>Concessionária LUCAR</title>

    {% endblock %}

</head>
<link rel="stylesheet" href="/style2.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<body>
    <header>
        <div class="head">Concessionária LUCAR</div>

        </header>

        <div class="links">
            <a href="/" class="active" >Carros</a>
            <a href="/vendedores">Vendedores</a>
        </div>

    {% block content %}
    
    {% endblock %}

</body>
</html>