<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% block head %}

    <title>layout - inicial</title>

    {% endblock %}

</head>
<link rel="stylesheet" href="/style2.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Partidas Históricas</a>
        </div>
    </header>

    {% block content %}
    
    {% endblock %}

</body>
</html>