{% extends "layout.njk" %}

{% block content %}
    <form class="card" method="POST" action="/carros">
        <section class="avatar">
            <img src="https://th.bing.com/th/id/R.f7ed6de00a989a8ed89b42271c0a19d5?rik=H3QNIaJ8s6B5fw&riu=http%3a%2f%2fclipart-library.com%2fimages%2f5TRrdRrGc.jpg&ehk=Wm9V0kgvPdxfStofLRCpp1KuMvj%2fpT9Spuw0%2fitdzPE%3d&risl=&pid=ImgRaw&r=0">
        </section>
        
        <section class="details">

            <h3>Novo Veículo</h3>

            {% include 'carros/fields.njk' %}

        </section>
    </form>
{% endblock content %}