{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar" style= "border-radius: 10px; background: url(https://th.bing.com/th/id/R.0cb524aaefa7d4a498f7bc4bcef214de?rik=AQ4hF4TPQqLF2g&riu=http%3a%2f%2fmotosnovas.com.br%2fwp-content%2fuploads%2f2017%2f02%2fNovo-HB20-2018-4-1024x767.jpeg&ehk=wN27FHXGVTh%2fUrvOwG1FI18bb8eNhJnU7srhAlYqRFU%3d&risl=&pid=ImgRaw&r=0/500x500) no-repeat center center / cover"></section>
        <section class="description"></section>
    </div>
{% endblock content %}