{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar">
            <img src="https://th.bing.com/th/id/R.0cb524aaefa7d4a498f7bc4bcef214de?rik=AQ4hF4TPQqLF2g&riu=http%3a%2f%2fmotosnovas.com.br%2fwp-content%2fuploads%2f2017%2f02%2fNovo-HB20-2018-4-1024x767.jpeg&ehk=wN27FHXGVTh%2fUrvOwG1FI18bb8eNhJnU7srhAlYqRFU%3d&risl=&pid=ImgRaw&r=0">
        </section>
        
        <section class="details">

            <h3>DETALHES</h3>

            <div class="item">
                <div>Modelo do veiculo</div>
                <div>HB20 1.4</div>
            </div>
                   <div class="item">
                <div>Ano</div>
                <div>2020</div>
            </div>
                   <div class="item">
                <div>combustivel</div>
                <div>flex</div>
            </div>
                   <div class="item">
                <div>Opcionais</div>
                <div>
                   <span>air-bag </span> 
                  <span>direção elétrica</span>  
                  <span> 4 portas</span> 
                  <span> vidros elétricos</span> 
                  <span>computador de bordo </span>  

                </div>
            </div>

        </section>
    </div>
{% endblock content %}